header {
    text-align: center;
    border: 2px solid gray;
    color: white;
    background-color: rgb(30, 89, 109);
}

header h2 {
    font-size: 30px;
}

#timeAmount {
    color: red;
}

.box {
    color: white;
    text-align: center;
    border-bottom: 2px solid gray;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid gray;
    border-radius: 15px;
    background-color:rgb(30, 89, 109)
}

/* .question {
    padding-top: 15px;
    margin-bottom: 10%;
    border-top: 2px solid gray;
} */


.answerClass {
    color: rgb(30, 89, 109);
    cursor: pointer;
    margin-bottom: 1%;
    border: 2px gray solid;
    border-radius: 5%;
}

.answers {
    text-align: left;
    padding-left: 25px;
    margin-bottom: 3%;
}

/* #answer1 {
    color: rgb(30, 89, 109);
    cursor: pointer;
    margin-bottom: 1%;
    border: 2px gray solid;
    border-radius: 5%;
}

#answer2 {
    color: rgb(30, 89, 109);
    cursor: pointer;
    margin-bottom: 1%;
    border: 2px gray solid;
    border-radius: 5%;
}

#answer3 {
    color: rgb(30, 89, 109);
    cursor: pointer;
    margin-bottom: 1%;
    border: 2px gray solid;
    border-radius: 5%;
}

#answer4 {
    color: rgb(30, 89, 109);
    cursor: pointer;
    margin-bottom: 1%;
    border: 2px gray solid;
    border-radius: 5%;
} */

/* .answersBottom {
    margin-bottom: 50px;
    text-align: left;
    padding-left: 25px;
    border-bottom: 2px solid gray;
} */

.answersBtn {
    background-color: white;
    color: rgb(30, 89, 109);
    border: 4px solid gray;
    border-radius: 5%;
    height: 40px;
    width: 90px;
    justify-content: center;
    margin-bottom: 2%;
    cursor: pointer;
}

#startBtn {
    height: 40px;
    width: 90px;
    margin-right: 15%;
}

#highScoresBtn {
    height: 40px;
    width: 90px;
}